<form [formGroup]="forma">
    <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Titulo" formControlName="titulo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea rows="3" matInput placeholder="Descripción" formControlName="descripcion"></textarea>
    </mat-form-field>

    <div>
        <button mat-raised-button
                color="primary"
                (click)="guardarCambios()">Guardar</button>
        <button mat-raised-button
                color="warn"

                (click)="cancelar()">Cancelar</button>
    </div>
</form>